{% extends 'base.html.twig' %}

{% set breadcrumbs = {
    "wecmk_public_home": "Home",
    "members_area_home": "Members Area"
} %}

{% block title %}Login{% endblock %}

{% block content %}
    {% if error %}
        <div class="container">
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        </div>
    {% endif %}
    <div class="form-signin">
        <div class="intro">
            <h3 class="form-signin-heading">Login</h3>            
        </div>

        {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form._username, null, {'label': 'Username', 'label_attr': {'class': 'sr-only'}}) }}
            {{ form_widget(form._username, {'attr': {'class': 'form-control', 'placeholder': 'Username', 'value': last_username }}) }}
            {{ form_errors(form._username) }}
        </div>  
        
        <div class="form-group">
            {{ form_label(form._password, null, {'label': 'Password', 'label_attr': {'class': 'sr-only'}}) }}
            {{ form_widget(form._password, {'attr': {'class': 'form-control', 'placeholder': 'Password'}}) }}
            {{ form_errors(form._password) }}
        </div>

        {{ form_widget(form.submit, {'label': 'Login', 'attr': {'class': 'btn btn-primary'}}) }}

        {{ form_end(form) }}
    </div>
{% endblock %}
