{% extends 'base.html.twig' %}

{% set breadcrumbs = { 
    "members_area_home": "Home",
    "sermons_home": "Sermons"
} %}

{% block title %}Sermons{% endblock %}

{% block header_right %}
    <form name="search" class="header-search__form" method="get" action="{{ path('sermons_home') }}">
        <div class="input-group mb-3 header-search" class="">
            <input type="text" class="form-control" name="q" placeholder="Search all sermons" aria-label="search sermons" value="{{ searchQuery }}">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block content %} 
    <div class="sermons-navigation-container">
        <div class="d-block d-md-none">
            <div class="flash-message alert alert-info container" role="alert">
                To download or stream, please scroll to the right <span
                    class="glyphicon glyphicon-circle-arrow-right"></span>
            </div>
        </div>
        <div class="btn-group-lg" role="group" aria-label="...">
            {% if showReset | default(false) or (app.request.attributes.get('page') is defined and app.request.attributes.get('page') > 1) or app.request.attributes.get('_route') != 'sermons_home' %}
                <div class="btn-group" role="group">
                    <!-- Button trigger modal -->
                    <a class="btn btn-secondary" href="{% if mainPage is defined %}{{ path('search_all') }}{% else %}{{ path('sermons_home') }}{% endif %}">
                        Start again
                    </a>
                </div>
            {% endif %}
            <div class="btn-group" role="group">
                <a type="btn btn-secondary" class="btn btn-secondary" href="{{ path("sermons_list_series") }}">
                    List all Series
                </a>
            </div>
            <div class="btn-group" role="group">
                <a type="btn btn-secondary" class="btn btn-secondary" href="{{ path("contact_form") }}">
                    Help
                </a>
            </div>
        </div>
    </div>
    <div class="sermons-list col-md-12">
        <table id="myTable" class="table table-striped table-bordered table-hover table-condensed sortable">
            <thead>
                <TR>
                    <TH class="Date">Date</TH>
                    <TH class="apm">AM/PM</TH>
                    <TH class="series">Series</TH>
                    <TH class="reading">Reading</th>
                    <TH class="title">Title</TH>
                    <TH class="speaker">Speaker</TH>
                    <TH class="download">Download</TH>
                        {% if is_granted('ROLE_MANAGER') %}
                        <TH class="sermon-stats">Stats</TH>
                        {% endif %}
                </TR>
            </thead>
            <tfoot>
                <TR>
                    <TH class="date">Date</TH>
                    <TH class="apm">AM/PM</TH>
                    <TH class="series">Series</TH>
                    <TH class="reading">Reading</TH>
                    <TH class="title">Title</TH>
                    <TH class="speaker">Speaker</TH>
                    <TH class="Download">Download</TH>
                        {% if is_granted('ROLE_MANAGER') %}
                        <TH class="sermon-stats">Stats</TH>
                        {% endif %}
                </TR>
            </tfoot>

            <tbody>
                {% if liveSermon is not defined %}
                    {% set liveSermon = [] %}
                {% endif %}
                {% for entity in liveSermon | merge(results) %}
                    <tr id="{{ entity.Id }}">
                        <td>{% if entity.Date %}{{ entity.Date|date('d-m-Y') }}{% endif %}</td>
                        <td>{{ entity.Apm }}</td>
                        <td>
                            {% for series in entity.Series %}
                                <a href="{{ path("sermons_list_by_series", { 'value': series.Name }) }}">{{ series.Name }}</a>
                                {% if not loop.last %}/{% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ entity.Reading }}
                            {% if entity.SecondReading %}
                                <br>{{ entity.SecondReading }}
                            {% endif %}
                        </td>
                        <td>{{ entity.Title }}</td>

                        <td>
                            {{ entity.Speaker }}
                        </td>

                        {% set GAString = entity.Date|date('d-m-Y') ~ " - " ~ entity.Apm %}

                        <td>
                            {% for attachmentMetadata in entity.attachmentMetadata %}
                                <div>
                                    {% if attachmentMetadata.type.canBePublic %}
                                        {% if attachmentMetadata.type.type == "sermon-recording" %}
                                            <a class="btn btn-primary" style="margin-top: 5px;" id="{{ attachmentMetadata.uuid }}"
                                               href="{{ path('attachment_index', {'uuid': attachmentMetadata.uuid, 'force-dl': "true" }) }}" onClick="
                                                       ga('send', {
                                                           'hitType': 'event', // Required.
                                                           'eventCategory': 'Media', // Required.
                                                           'eventAction': 'Download', // Required.
                                                           'eventLabel': '{{ GAString }}'
                                                       });"                                           
                                               >Download</a>&nbsp;
                                            <a class="btn btn-primary" style="margin-top: 5px;" id="{{ attachmentMetadata.uuid }}"
                                               href="{{ path('attachment_index', {'uuid': attachmentMetadata.uuid, 'force-dl': "false" }) }}" onClick="
                                                       ga('send', {
                                                           'hitType': 'event', // Required.
                                                           'eventCategory': 'Media', // Required.
                                                           'eventAction': 'Stream', // Required.
                                                           'eventLabel': '{{ GAString }}'
                                                       });
                                               ">Stream</a>
                                        {% else %}
                                            <a class="btn btn-primary" style="margin-top: 5px;" id="{{ attachmentMetadata.uuid }}"
                                               href="{{ path('attachment_index', {'uuid': attachmentMetadata.uuid, 'force-dl': "false" }) }}" onClick="
                                                       ga('send', {
                                                           'hitType': 'event', // Required.
                                                           'eventCategory': 'Media', // Required.
                                                           'eventAction': '{{ attachmentMetadata.type.name }}', // Required.
                                                           'eventLabel': '{{ GAString }}'
                                                       });
                                               ">{{ attachmentMetadata.type.name }}</a><br />
                                        {% endif %}
                                    {%  endif %}
                                </div>
                            {% endfor %}

                            {% if entity.id == 999999 %}
                                {{ include('components/button-item-conditional-show.html.twig', {'url': 'https://www.wecmk.org/?p=2224', 'eventLabel': 'Sunday Services', 'linkText': 'Watch Now' }) }}
                            {% endif %}

                            {% if entity.YouTubeLink is defined and entity.YouTubeLink is not empty %}
                                {% set label = entity.Date|date('d-m-Y') ~ "-" ~ entity.Apm %}
                                {{ include('components/button-item-conditional-show.html.twig', {'url': entity.YouTubeLink, 'eventLabel': "Watch", 'linkText': "Watch" }) }}
                            {% endif %}

                            {% if is_granted("ROLE_ADMIN") %}
                                {{ include('components/button-item.html.twig', {'url':  path('public_sermon_new', { 'id': entity.Id }), 'linkText': "Make public"}) }}
                            {% endif %}

                        </td>                      
                    </tr>
                    {% else %}
                        <tr colspan="7">
                            <div class="container">
                                <div class="alert alert-warning" role="alert"> No results found for "{{ searchQuery }}"</div>
                            </div>
                        </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if enablePagination is defined and enablePagination %}
            <nav aria-label="Page navigation example">
                {% if maxPages > 1 %}
                    <ul class="pagination">
                        {% set isDisabled = thisPage == 1 ? 'disabled' %}
                        <li class="page-item {{ isDisabled }}">
                            <a class="page-link {{ isDisabled }}" href="{{ path(app.request.attributes.get('_route'), {page: 1}) }}" class="page-link">
                                <span>First</span>
                            </a>
                        </li>

                        <li class="page-item {{ isDisabled }}">
                            <a class="page-link" href="{{ path(app.request.attributes.get('_route'), {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>

                        {# Render each page number #}
                        {% for i in startPages..maxPages %}
                            {% set isCurrentPage = thisPage == i %}
                            {% set active = isCurrentPage ? 'active' : '' %}
                            {% set disabledObject = isCurrentPage ? 'span' : 'a' %}
                            <li class='page-item {{ active }}' >
                                <{{ disabledObject }} href="{{ path(app.request.attributes.get('_route'), {page: i}) }}" class="page-link">{{ i }}</{{ disabledObject }}>
                                {% if isCurrentPage %}
                                    <span class="sr-only">(current)</span>
                                {% endif %}
                            </li>
                        {% endfor %}

                        <li {{ thisPage == maxPages ? 'class="page-item disabled"' }}>
                            <a href="{{ path(app.request.attributes.get('_route'), {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}" class="page-link">»</a>
                        </li>

                        <li {{ thisPage == maxPages ? 'class="page-item disabled"' }}>
                            <a href="{{ path(app.request.attributes.get('_route'), {page: maxPagesToDisplay}) }}" class="page-link">
                                <span>Last</span>
                            </a>
                        </li>
                    </ul>
                {% endif %}

            </nav>
        {% endif %}
    </div>




    <div class="modal fade help-modal-dialog" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Need help?</h4>
                </div>
                <div class="modal-body">
                    Email <a href="mailto:***REMOVED***">***REMOVED***</a> or fill out <a
                        href="{{ path('contact_form') }}">this form</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}