{% extends 'base.html.twig' %}

{% set breadcrumbs = {
    "wecmk_public_home": "Home",
    "members_area_home": "Members Area",
    "sermons_home": "Sermons"
} %}

{% block title %}Sermons{% endblock %}

{% block header_right %}
    <form name="search" class="header-search__form" method="get" action="{{ path('sermons_home') }}">
        <div class="input-group mb-3 header-search" class="">
            <input type="text" class="form-control" name="q" placeholder="Search all sermons" aria-label="search sermons" value="{{ searchQuery }}">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block content %} 
    <div class="container sermons-navigation-container">
        <div class="d-block d-md-none">
            <div class="flash-message alert alert-info container" role="alert">
                To download or stream, please scroll to the right <span
                    class="glyphicon glyphicon-circle-arrow-right"></span>
            </div>
        </div>
        <div class="btn-group-lg" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <a type="btn btn-secondary" class="btn btn-secondary" href="{% if mainPage is defined %}{{ path('search_all') }}{% else %}{{ path('sermons_home') }}{% endif %}">
                    Back to Sermons
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Current/ongoing series</h1>
        <div class="row">
            <div class="col-6">
                <h3>Series by Bible books:</h3>
                {% for book in books %}
                    {% if not book.complete %}
                        <a href="{{ path('sermons_list_by_series', {'uuid': book.Uuid }) }}">{{ book.prettyName }}</a>
                        <br />
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-6">
                <h3>Other series:</h3>
                {% for key,series in seriesList %}
                    {% if series is not empty and not series.complete %}
                        <a href="{{ path("sermons_list_by_series", { 'uuid': series.uuid }) }}">{{ series.PrettyName }}</a>
                        <br />
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <h1>Completed series</h1>
        <div class="row">
            <div class="col-6">
                <h3>Series by Bible books:</h3>
                {% for book in books %}
                    {% if book.complete %}
                        <a href="{{ path('sermons_list_by_series', {'uuid': book.Uuid }) }}">{{ book.prettyName }}</a>
                        <br />
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-6">
                <h3>Other series:</h3>
                {% for key,series in seriesList %}
                    {% if series is not empty and series.complete %}
                        <a href="{{ path("sermons_list_by_series", { 'uuid': series.uuid }) }}">{{ series.PrettyName }}</a>
                        <br />
                    {% endif %}
                {% endfor %}
            </div>

            <div class="col-6">
                <h3>Search by Speaker:</h3>
                <a href="{{ path('sermons_list_by_speaker', {'value': 'Allan Huxtable'}) }}">Allan Huxtable</a><br>
                <a href="{{ path('sermons_list_by_speaker', {'value': 'Roger March'}) }}">Roger March</a><br>
                <a href="{{ path('sermons_list_by_speaker', {'value': 'Roy Moffatt'}) }}">Roy Moffatt</a><br>
                <a href="{{ path('sermons_list_by_speaker', {'value': 'Derek Sparrow'}) }}">Derek Sparrow</a><br>
                <a href="{{ path("sermons_list_by_series", { 'uuid': visitingSpeakerSeries.uuid }) }}">{{ visitingSpeakerSeries.Name }}</a>

            </div>
        </div>
    </div>

{% endblock %}

