{% extends 'base.html.twig' %}

{% block title %}Series index{% endblock %}

{% block covid %}
{% endblock %}

{% block content %}
    <h1>Series index</h1>
    <form action="{{ path("series_index") }}" method="get">
        <input type="text" name="query" value="{{query | default("")}}" placeholder="search here"/>
        <input class="btn btn-primary" type="submit"/>
        <a class="btn btn-secondary" href="{{ path('series_index') }}">Reset</a>
        <a class="btn btn-secondary" href="{{ path('series_new') }}">Create new</a>

    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Uuid</th>
                <th>Name</th>
                <th>Description</th>
                <th>Complete</th>
                <th>IsPublic</th>
                <th>DeletedAt</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for series in series %}
            <tr>
                <td>{{ series.id }}</td>
                <td>{{ series.uuid }}</td>
                <td>{{ series.name }}</td>
                <td>{{ series.description }}</td>
                <td>{{ series.complete ? 'Yes' : 'No' }}</td>
                <td>{{ series.isPublic ? 'Yes' : 'No' }}</td>
                <td>{{ series.deletedAt ? series.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ series.createdAt ? series.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ series.updatedAt ? series.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('series_show', {'id': series.id}) }}">show</a>
                    <a href="{{ path('series_edit', {'id': series.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
