{% extends 'base.html.twig' %}

{% set breadcrumbs = { 
    "members_area_home": "Home",
    "contact_form": "Contact Us"
} %}

{% block title %}Contact Us{% endblock %}

{% block content %}
    <div class="contact-us">
        <div class="intro">
            <h3 class="form-signin-heading">Contact Us</h3>
            For questions regarding the members area, sermons, team lists etc. <br />
            For other queries, please use <a href="https://www.wecmk.org/contactus">this form</a>
        </div>

        {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.Name, null, {'label': 'Your Name', 'label_attr': {'class': 'sr-only'}}) }}
            {{ form_widget(form.Name, {'attr': {'class': 'form-control', 'placeholder': 'Name'}}) }}
            {{ form_errors(form.Name) }}
        </div>  

        <div class="form-group">
            {{ form_label(form.Email, null, {'label': 'Your Email Address', 'label_attr': {'class': 'sr-only'}}) }}
            {{ form_widget(form.Email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
            {{ form_errors(form.Email) }}
        </div>   

        <div class="form-group">
            {{ form_label(form.Message, null, {'label': 'Your Query', 'label_attr': {'class': 'sr-only'}}) }}
            {{ form_widget(form.Message, {'attr': {'class': 'form-control', 'placeholder': 'Question', 'style': 'height: calc(8.25rem + 2px);' }})  }}
            {{ form_errors(form.Message) }}
        </div>   

        {{ form_widget(form.Submit, {'label': 'Send Message', 'attr': {'class': 'btn btn-primary'}}) }}

        {{ form_end(form) }}
    </div>
{% endblock %}
