{% extends 'base.html.twig' %}

{% set breadcrumbs = { "Home": "members_area_home", 
    "Children's talk questions and answers": "questions_home", 
    "Question Series": ""
} %}

{% block title %}Children's talk question and answers{% endblock %}

{% block content %}
    <div class="container">
        <h1>Set {{ questionSeries.number }}. {{ questionSeries.name }}</h1>

        {% if questionSeries.current %}
            <h4 class="hidden-print">Current series</h4>
        {% else %}
            {% if is_granted('ROLE_QUESTIONS_EDITOR') %}    
            <form action="{{ path("questions_set_current", { "id": questionSeries.id }) }}" method="POST">
                <input type="submit" class="btn btn-secondary" value="Set as Current Series" class="btn btn-default">
            </form>
            {% endif %}
        {% endif %}
        
        <div class="row">
            {% if questions is empty %}
                <p>
                    Questions and answers will be displayed after the childrens talks on Sunday
                </p>
            {% endif %}
            {% for question in questions %}
                {% if question.publishDate < date() or is_granted('ROLE_QUESTIONS_EDITOR') %}
                    <div class="col-md-4 col-sm-6 col-sm-6 col-xs-6">
                        <div class="question">
                            <h3>{{ question.number }}. {{ question.question }}</h3>
                            <p>{{ question.answer }}</p>
                        </div>
                        {% if is_granted('ROLE_QUESTIONS_EDITOR') %}
                            <div class="hidden-print">
                                <table class="table table-responsive">
                                    <tr>
                                        <td>Publish date:</td>
                                        <td>{% if question.publishDate %}{{ question.publishDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                                    </tr>
                                    <tr>
                                        <td>Published:</td>
                                        <td>{% if question.publishDate < date() %}
                                            Yes
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <form name="wec_questionsbundle_question_{{ question.id }}" 
                                              method="post" 
                                              action="{{ path("questions_publish_now", { "id": question.id } ) }}">
                                            <input type="hidden" id="wec_questionsbundle_question_scheduleSubsequentQuestions_{{ question.id }}" name="wec_questionsbundle_question[scheduleSubsequentQuestions]" class="hidden" value="1">

                                            <input type="hidden" id="wec_questionsbundle_question_series_{{ question.id }}" name="wec_questionsbundle_question[series]" value="3">
                                            <input type="hidden" id="wec_questionsbundle_question_Number_{{ question.id }}" name="wec_questionsbundle_question[Number]" value="1">

                                            {% if question.publishDate > date() %}
                                                <input type="hidden" name="publishdate" value="{{ "now"|date('c') }}">
                                                <input type="submit" value="Publish Now" class="btn btn-secondary">
                                            {% else %}
                                                <input type="hidden" name="publishdate" value="{{ "+10 Years"|date('c') }}">
                                                <input type="submit" value="Unpublish" class="btn btn-secondary">
                                            {% endif %}

                                        </form>
                                    </td>
                                    <td>
                                        <a href="{{ path('questions_edit', { "id": question.id }) }}">Schedule</a> </td>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    {% endif %}

                </div><!--/span-->
                {% endif %}

                    {% endfor %}


                    </div>
                </div>
                {% endblock %}